.sidebar-link {
  color: #030303;
  max-width: 240px;
}

.LinkContent {
  cursor: pointer;
  display: flex;
}

.LinkContent:hover {
  background-color: rgba(0, 0, 0, 0.1);
  height: 40px;
  width: 240px;
}

.LinkContent:focus {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  color: red;
}

.sidebar p {
  padding: 0px 24px;
  display: flex;
  position: fixed;
}

.sidebarIconColumn {
  padding-top: 16px;
  height: 24px;
  width: 24px;
  padding-left: 24px;
}

.sidebar {
}
