.sidebar-link {
  color: #030303;
}

.LinkContent {
  cursor: pointer;
  width: 24px;
  padding: 0px 24px;
}

.LinkContent--active {
  background-color: #030303;
  border-color: #030303;
  color: #fff;
}

.LinkContent:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.sidebar p {
  padding: 0px 48px;
  display: flex;
  position: fixed;
}

.sidebarIconColumn {
  padding-top: 16px;
}
